.nav{ 
    padding: 10px 15px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.browse, .logout{
    font-size: 18px;
    padding: 2rem 1.25rem 2rem 1.25rem;
    margin-left: 15px;
}

@media ( max-width: 482px ){
    .browse, .logout{
        font-size: 14px;
        padding: 1.75rem 1rem 1.75rem 1rem;
        margin-left: 10px;
    }
}