.maindiv{
    display: flex;
    top: 60px; 
    left: 0px;
}
.contentdiv{
    width: 100%; 
    padding: 20px;
    height: 100vh;
    overflow-y: scroll;
}

/* My Schedule Div */
.title{ 
    text-align: center;
    font-size: 30px; 
    font-weight: 800;
    margin-bottom: 40px;
}
.text{
    font-size: 18px;
    border: 2px solid #00206B;
    border-radius: 8px;
    /* box-shadow: 5px 8px 5px hsl(0, 0%, 30%); */
    padding: 20px;
    margin-bottom: 40px; 
}


/* My Matches Div */
.matches{
    display: grid; 
    grid-template-columns: repeat(4,1fr);
    justify-content: space-evenly;
}
.mentor{
    border: 2px solid #00206B;
    border-radius: 10px; 
    padding: 30px;
    margin: 10px; 
    margin-bottom: 20px;
    max-width: 300px;
    display: inline-block;
}

.mentor:hover{
    box-shadow: 5px 6px 23px -8px rgba(117,113,117,1);;
    /* cursor: pointer;  */
}
.mentor .image{
    max-width: 80%; 
    height: auto; 
    border: 1px solid #00206B;
    margin: auto;
}
.mentor .name{
    font-size: 20px; 
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 10px;
}
.mentor .jobtitle{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
} 
.button{
    color:  #F0F3FA;
    background-color: #007bff;
    border: 1px solid #007bff; 
    border-radius: 10px;
    font-size: 16px; 
    padding: 10px; 
    cursor: pointer;
    margin-top: 30px;
    display: block;       
    margin: auto;  
}

@media ( max-width: 1280px ){
    .mentor .name{
        font-size: 16px; 
    }
    .mentor .jobtitle{
        font-size: 16px;
    } 
}

@media ( max-width : 1184px){
    .mentor .jobtitle{
        font-size: 12px;
    } 
}

@media ( max-width: 1088px){
    .matches{
        display: grid; 
        grid-template-columns: repeat(3,1fr);
        justify-content: space-evenly;
    }
    .mentor .image{
        max-width: 100%; 
        height: auto; 
        border: 1px solid #00206B;
        margin: auto;
    }
    .button{
        font-size: 12px; 
        padding: 5px;  
    }
}

@media ( max-width: 608px){
    .matches{
        display: grid; 
        grid-template-columns: repeat(2,1fr);
        justify-content: space-evenly;
    }
    .mentor .name{
        font-size: 10px; 
    }
    .mentor .jobtitle{
        font-size: 10px;
    } 
}

@media ( max-width: 482px ){
    .title{
        font-size: 20px;
        font-weight: bold;
    }
    .mentor{
        padding: 15px;
    }
    .mentor .name{
        font-size: 16px;
    }
    .mentor .jobtitle{
        font-size: 14px;
    }
    
}