.maindiv{
    display: flex;
    top: 60px; 
    left: 0px;
}
.contentdiv{
    width: 100%; 
    padding: 20px;
    height: 100vh;
    overflow-y: scroll;
}

/* Explore Div */
.maintitle{
    font-size: 30px; 
    font-weight: 800;
    margin-bottom: 40px;
}
.searchbar{ 
    width: 50%; 
    height: 40px;
    border: 1px solid #00206B;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 30px;
    font-size: 16px;
    font-weight: 600;
}
.searchbar::placeholder{
    color: #00206B;
}

/* Mentors */
.titlelist{
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
}
.title{
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
    border: 1px solid #00206B;
    border-radius: 10px;
}
.titleactive{
    background-color: #00206B;
    color: white;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;

}

@media (max-width : 1357px){
    .title{
        font-size: 16px;
    }
    .titleactive{
        font-size: 16px;
    }
}

@media (max-width : 1280px) {
    .titlelist{
        display: grid;
        grid-template-columns: repeat(3 , 1fr);
        gap: 24px;
    }
}

@media (max-width : 891px){
    .titlelist{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    }
}

@media (max-width : 950px){
    .searchbar{ 
        width: 90%; 
    }
}

@media (max-width : 482px){
    .maintitle{
        font-size: 22px;
    }
}