.maindiv {
    display: flex;
    position: relative;
    left: 0px;
    height: calc(100vh - 60px);
    overflow: hidden; 
}


.contentdiv {
    flex-grow: 1; 
    padding: 20px;
    height: 100%; 
    overflow-y: auto;
}
.items{
    list-style-type: none;
}
.items li{
    margin: 40px 0px; 
    cursor: pointer;
    color: #00206B;
    font-size: 20px;
    font-weight: 700;
}
.profilediv{
    margin-top: 250px; 
    display: flex; 
    justify-content: center; 
}

/* About Div */
.title{ 
    text-align: center;
    font-size: 30px; 
    font-weight: 800;
    margin: 40px 0px;
}
.text{
    font-size: 24px;
    font-weight: 600; 
    text-align: center; 
    line-height: 40px;
    margin-bottom: 40px;
}

.aboutdiv{
    display: flex; 
    padding: 10px;
    margin-bottom: 20px;
    align-items: center;
    text-align: center;
}
.aboutdiv .left, .aboutdiv .right{
    width: 50%;
}
.text2{
    font-size: 30px;
    font-weight: 800;
    line-height: 40px;
}

@media (max-width: 1155px) {
    .text2{
        font-size: 24px;
    }
}

@media (max-width: 981px) {
    .text2{
        font-size: 18px;
    }
}

@media (max-width: 777px) {
    .aboutdiv{
        display: flex; 
       flex-direction: column;
      gap: 40px;
    }
}